<!DOCTYPE html>
<html>
  <head>
    <title>Taiga Extension popup</title>
    <script src="../../scripts/popup.js"></script>
  </head>
  <body>
      <div id="popup">
        <h1 id="selectheader">Select your  working group</h1>
        <!--<a href="https://taiga-metrics.herokuapp.com" target="_blank">Login</a>-->
        <a href="http://localhost:3000/auth/google" target="_blank">Login</a>
        <hr>
        <div id="buttonsgrid">
            <button class="button" value="11a" id="g1">11a</button>
            <button class="button" value="11b" id="g2">11b</button>
            <button class="button" value="11c" id="g3">11c</button>
            <button class="button" value="11d" id="g4">11d</button>
            <button class="button" value="11e" id="g1">11e</button>
            <button class="button" value="13a" id="g2">13a</button>
            <button class="button" value="13b" id="g3">13b</button>
            <button class="button" value="13c" id="g4">13c</button>
            <button class="button" value="13d" id="g2">13d</button>
            <button class="button" value="13e" id="g3">13e</button>
        </div>
      </div>
    <link rel="stylesheet" href="../../styles/popup.css">
  </body>
</html>