<!DOCTYPE html>
<html>
  <head>
    <title>Taiga Extension popup</title>
    <script src="../../scripts/popup.js"></script>
  </head>
  <body>
      <div id="popup">
        <h1 id="selectheader">Select your  working group</h1>
        <hr>
        <div id="buttonsgrid">
            <button class="button" value="s11a" id="s11a">BusCat</button>
            <button class="button" value="s11b" id="s11b">ElectriCity</button>
            <button class="button" value="s11c" id="s11c">Potus</button>
            <button class="button" value="j12a" id="j12a">GreenWheel</button>
            <button class="button" value="j12b" id="j12b">Air B&Breath</button>
            <button class="button" value="j12c" id="j12c">MeetCat</button>
            <button class="button" value="asw12a" id="asw12a">asw12a</button>
            <button class="button" value="asw12b" id="asw12b">asw12b</button>
            <button class="button" value="asw12c" id="asw12c">asw12c</button>
            <button class="button" value="asw12d" id="asw12d">asw12d</button>
            <button class="button" value="asw12e" id="asw12e">asw12e</button>
            <button class="button" value="asw13a" id="asw13a">asw13a</button>
            <button class="button" value="asw13b" id="asw13b">asw13b</button>
            <button class="button" value="asw13c" id="asw13c">asw13c</button>
        </div>
      </div>
    <link rel="stylesheet" href="../../styles/popup.css">
  </body>
</html>