<!DOCTYPE html>
<html>
  <head>
    <title>Taiga Extension popup</title>
    <script src="../../scripts/popup.js"></script>
  </head>
  <body>
      <div id="popup">
        <h1 id="selectheader">Select your  working group</h1>
        <hr>
        <div id="buttonsgrid">
            <button class="button" value="11a" id="11a">11a</button>
            <button class="button" value="11b" id="11b">11b</button>
            <button class="button" value="11c" id="11c">11c</button>
            <button class="button" value="11d" id="11d">11d</button>
            <button class="button" value="11e" id="11e">11e</button>
            <button class="button" value="13a" id="13a">13a</button>
            <button class="button" value="13b" id="13b">13b</button>
            <button class="button" value="13c" id="13c">13c</button>
            <button class="button" value="13d" id="13d">13d</button>
            <button class="button" value="13e" id="13e">13e</button>
        </div>
      </div>
    <link rel="stylesheet" href="../../styles/popup.css">
  </body>
</html>