#metricsDiv {
	padding: 5px;
}

.metric_title {
	color: #008aa8;
}

.metric_description {
	color: #70728f;
}

.metric_value {
	margin-top: 5px;
}

.cardsDiv {
	display: block;
	grid-template-columns: repeat(2, auto);
	gap: 5px;
	padding: 10px;
    margin-top: 10px;
}

.cardnormal {
	width: 440px;
	transition: 0.3s;
	border-radius: 5px;
	border: 1px solid #d8dee9;
	background: #fff;
	padding: 10px;
  }

  .cardnormal:hover {
	box-shadow: 4px 4px 8px rgb(216 222 233 / 50%);
  }
  
  
 
 /* Create two unequal columns that floats next to each other */
  .column {
	float: left;
	padding: 10px;
  }
  
  .left {
	width: 75%;
  }
  
  .right {
	width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

/* SWITCH STYLES */
.toggleSwitch span span {
	display: none;
} 

.toggleSwitch {
	display: inline-block;
	height: 18px;
	position: relative;
	overflow: visible;
	padding: 0;
	cursor: pointer;
	width: 70%;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius:5px;
	height:34px;
        user-select: none;
}
.toggleSwitch * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.toggleSwitch label,
.toggleSwitch > span {
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}
.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
	outline: none;
}
.toggleSwitch label {
	position: relative;
	z-index: 3;
	display: block;
	width: 100%;
}

.toggleSwitch input {
	position: absolute;
	opacity: 0;
	z-index: 5;
}
.toggleSwitch > span {
	position: absolute;
	left: 0;
	width: calc(100% - 6px);
	margin: 0;
	text-align: left;
	white-space: nowrap;
        margin:0 3px;
}
.toggleSwitch > span span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
	width: 50%;
	margin-left: 50px;
	text-align: left;
	font-size: 0.9em;
	width: auto;
	left: 0;
	top: -1px;
	opacity: 1;
	width:40%;
	text-align: center;
        line-height:34px;
}

.toggleSwitch a {
	position: absolute;
	right: 50%;
	z-index: 4;
	display: block;
	top: 3px;
	bottom: 3px;
	padding: 0;
	left: 3px;
	width: 50%;
	background-color: #666;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.toggleSwitch > span span:first-of-type {
	color: #FFF;
	opacity: 1;
	left: 0;
	margin: 0;
        width: 50%;
}
.toggleSwitch > span span:last-of-type {
	left:auto;
	right:0;
	color: #999;
	margin: 0;
        width: 50%;
}
.toggleSwitch > span:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -2px;
	/* background-color: #fafafa;
	border: 1px solid #ccc; */
	border-radius: 30px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.toggleSwitch input:checked ~ a {
	left: calc(50% - 3px);
}
.toggleSwitch input:checked ~ span:before {
	/* border-color: #0097D1;
	box-shadow: inset 0 0 0 30px #0097D1; */
}
.toggleSwitch input:checked ~ span span:first-of-type {
	left:0;
	color:#999;
}
.toggleSwitch input:checked ~ span span:last-of-type {
	/* opacity: 1;
	color: #fff;	 */
	color:#FFF;
}

/* Switch Sizes */
.toggleSwitch.large {
	width: 60px;
	height: 27px;
}
.toggleSwitch.large a {
	width: 27px;
}
.toggleSwitch.large > span {
	height: 29px;
	line-height: 28px;
}
.toggleSwitch.large input:checked ~ a {
	left: 41px;
}
.toggleSwitch.large > span span {
	font-size: 1.1em;
}
.toggleSwitch.large > span span:first-of-type {
	left: 50%;
}
.toggleSwitch.xlarge {
	width: 80px;
	height: 36px;
}
.toggleSwitch.xlarge a {
	width: 36px;
}
.toggleSwitch.xlarge > span {
	height: 38px;
	line-height: 37px;
}
.toggleSwitch.xlarge input:checked ~ a {
	left: 52px;
}
.toggleSwitch.xlarge > span span {
	font-size: 1.4em;
}
.toggleSwitch.xlarge > span span:first-of-type {
	left: 50%;
}

  .chart-out{
	max-width: 500px;
	padding: 15px 0;
	margin: 0 auto;
  }
  .chart-in{
	width: 95%;
	margin: 0 auto;
	padding-top: 5px;
  }
  .bar-out{
	height: 30px;
	border: lightgrey solid;
	border-radius: 300px;
	margin: 5px 0;
	position: relative;
	text-align: center;
	background: #f1f1f4;
  }
  .bar-in{
	height: 100%;
	background: #1493B2;
	border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
	width: 100%;
  }
  .info{
	z-index: 10;
	padding: 2px;
	padding-left: 5px;
    padding-right: 5px;
    translate: -5px -2.75px;
	position: absolute;
	border: none;
	height: 20px;
	width: 35px;
	font-size: 13px;
	margin-top: 5px;
	border-radius: 3px;
	background: lightseagreen;
	color:#f4f4f4;
	font-weight: bold;
  }


  #titlecardsection {
	display: grid;
	grid-template-columns: 10fr 1fr;
  }

  /*---DROPDOWN---*/

  .dropdown {
	display: inline-block;
	position: relative;
  }

  .dropdown-content-show{
	float: left;
	background: #fff;
	border: 1px solid #d8dee9;
	position: absolute;
	width: 170px;
	height: 85px;
	box-shadow: 8px 8px 12px rgb(46 52 64 / 10%);
	border-radius: 5px;
	z-index: 1;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
  }

  .dropdown-content-hide {
	display: none;
  }

  @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
  }

  @keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
  }



  .dropdown-content-show li {
	margin-bottom: 10px;
	display: list-item;
  }

  .dropdownbutton {
	background: none;
  }

  .dropdown-content-show button {
	background: none;
	color: #008aa8;
  }

  .iconsmall {
	fill: #008aa8;
	margin-inline-end: 0.5rem;
    margin-bottom: -1px;
  }

  .dropdown-content-show ul {
	display: grid;
	gap: 5x;
  }

  .popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 8px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fade-in 1s;
	animation: fade-in 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fade-in {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fade-in {
	from {opacity: 0;}
	to {opacity:1 ;}
  }
